{% extends 'user_post/base.html' %}

{% block title %}
  User {{ us.name }}
{% endblock %}

{% block body %}
  <h1>User {{ us.name }}</h1>
  <div>
    <ul>
      <li>username: {{ us.username }}</li>
      <li>email: {{ us.email }}</li>
    </ul>
    <div>
      <strong>Description:</strong>
      <p>{{ us.body }}</p>
    </div>
    <a href="{% url 'user_post:list' %}">Back to users</a>
  </div>
  <hr>
  <div>
    <a href="{% url 'user_post:delete' us.pk %}">Delete user</a>
  </div>

{% endblock %}