{% extends 'user_post/base.html' %}

{% block title %}
  Delete user {{ us.name }}
{% endblock %}

{% block body %}
  <h1>Delete user {{ us.name }}?</h1>
  <form method="post">
    {% csrf_token %}

{#    <p>Are you sure you want to delete "{{ object }}"?</p>#}
    {{ form }}
    <input type="submit" value="Delete!">
  </form>

  <br>
  <div>
    <a href="{% url 'user_post:details' us.pk %}">Back to users</a>
    <br>
    <a href="{% url 'user_post:list' %}">Users list</a>
  </div>
{% endblock %}